<!-- About Section -->
<section class="secondary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Shawn Burkett is a Computer Science student at Tuskegee University. He has a passion for software
          development and is always looking for new opportunities to learn and grow as a developer. He has experience
          in a variety of programming languages such as C++, Java, and Python, and is constantly expanding his
          skillset.
        </p>
      </div>
      <div class="col-lg-4">
        <p>As of now, Shawn is actively seeking internships and entry-level positions in the software development field.
          He is in his third year of college with a strong academic record and previous experience in two internships working
          with the Department of Defense and is eager to apply his skills and knowledge in any
          setting. Check out his resume below!
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="files/resume_2026.pdf" class="btn btn-lg btn-outline" download>
          <i class="fa fa-download"></i>  Resume
        </a>
      </div>
    </div>
  </div>
</section>
