<section id="awards" class="secondary-dark">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Awards & Honors</h2>
      </div>
    </div>

    <div class="awards-list">

      <div class="award-item">
        <i class="fa fa-trophy award-icon"></i>
        <div>
          <h4>Dean’s List</h4>
          <p>Recognized for academic excellence across multiple semesters.</p>
        </div>
      </div>

      <div class="award-item">
        <i class="fa fa-certificate award-icon"></i>
        <div>
          <h4>Upsilon Pi Epsilon</h4>
          <p>Inducted into the international honor society for computing.</p>
        </div>
      </div>

      <div class="award-item">
        <i class="fa fa-star award-icon"></i>
        <div>
          <h4>University Merit Scholar</h4>
          <p>Awarded for outstanding academic performance and extracurricular achievements.</p>
        </div>
      </div>

      <div class="award-item">
        <i class="fa fa-graduation-cap award-icon"></i>
        <div>
          <h4>US Army Certificate of Achievement</h4>
          <p>Completed advanced research training in STEM development through the RISE Program.</p>
        </div>
      </div>

    </div>
  </div>
</section>
