<!-- Projects Grid Section -->
<section id="portfolio" class="secondary-dark">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="projects-title">Projects</h2>
            </div>
        </div> 

      <div class="portfolio-grid">
      {% for post in site.posts %}
      <div class="project-card">
        <a href="#portfolioModal-{{ post.modal-id }}" class="project-link" data-toggle="modal">
          <div class="project-image-wrapper">
            <img src="img/portfolio/{{ post.img }}" alt="{{ post.alt }}">
            <div class="project-overlay">
              <i class="fa fa-search-plus"></i>
            </div>
          </div>
          <h4 class="project-title">{{ post.title }}</h4>
        </a>
      </div>
      {% endfor %}
    </div>
</section>
